* text=auto

.gitattributes text eol=lf
.gitignore text eol=lf
*.py text eol=lf
*.md text eol=lf
*.toml text eol=lf
*.txt text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.manifest text eol=lf
*.ps1 text eol=crlf
*.bat text eol=crlf

*.ico binary
*.png binary
